.darkUi
{
    color : #00b576;
    color: background: linear-gradient(90deg, rgba(0,122,80,1) 0%, rgba(0,157,102,1) 35%, rgba(0,235,153,1) 100%);
    color: #202125;
    color: #202529;
    color: #17181a;
    color: #ff6059;
    color: #4b4c50;
}